services:
  - type: web
    name: sabcodes
    env: node
    region: singapore
    buildCommand: npm install --prefix server
    startCommand: node server/index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        generateValue: true
      - key: GEMINI_API_KEY
        sync: false
